/* ==========================================================================
   #POMODORO APP STYLES
   ========================================================================== */

/**
 *
 * Inheriting box sizing slightly better best-practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* :root {
  --pomodoro: 	#b79c34;
  --shortBreak: 	#a75f2b;
  --longBreak: #d79589;
} */

body {
  background-image: url("https://images.unsplash.com/photo-1512389142860-9c449e58a543?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  user-select: none;
}

progress {
  border-radius: 2px;
  width: 100%;
  height: 12px;
  position: fixed;
  top: 0;
}

.timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
}

.clock {
  color: #7b0a0a;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 15rem;
  line-height: 1;
  display: flex;
  align-items: center;
  font-family: arial, sans-serif;
}

.mode-button {
  font-size: 16px;
  height: 28px;
  cursor: pointer;
  box-shadow: none;
  font-weight: 300;
  color: #213c18;
  border: transparent;
  margin: 5px;
  border-radius: 4px;
  padding: 2px 12px;
  background: none;
}

.main-button {
  height: 55px;
  text-transform: uppercase;
  width: 200px;
  border-width: initial;
  margin: 20px 0px 0px;
  padding: 0px 12px;

  box-shadow: -7px -5px 33px -2px #39692c;
  background-color: #1f400a;
  border-radius: 26px;
  border: 1px solid #45804a;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 9px 22px;
}

.main-button:hover {
  background-color: #056517;
}
.main-button:active {
  position: relative;
  top: 1px;
}

button:focus,
button:active {
  outline: none;
}

.main-button.active {
  transform: translateY(6px);
  box-shadow: none;
  outline: none;
}

.hidden {
  display: none;
}

@media screen and (max-width: 550px) {
  .clock {
    font-size: 8rem;
  }
}
